body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#success-message {
    text-align: center;
    margin-top: 10px;
}



#tableContainer {
    width: 90%;
    height: 90%;
    top: 0%;
    left: 0%;
    position: absolute,
}

table, th, td {
    border: 1px solid black;
  }
